.App {
  text-align: center;
}

.synth {
  display: flex;
}

h3 {
  margin: 0;
  padding-bottom: 5px;
}

.synthSection {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  flex: 4;
}
